h1 {
  font-size: var(--text-heading-xl);
  font-weight: var(--font-weight-heading-xl);
  letter-spacing: var(--tracking-heading-xl);
  line-height: var(--leading-heading-xl);
}

h2 {
  font-size: var(--text-heading-l);
  font-weight: var(--font-weight-heading-l);
  letter-spacing: var(--tracking-heading-l);
  line-height: var(--leading-heading-l);
}
